<%= link_to "Edit Account", edit_user_path(current_user) %>
<h3>TODO List</h3>

<%= link_to "New Item", new_item_path %>

<% @items.each do |item| %>
	<div>
		• <%= item.description %>
		-
		<%= link_to "Edit", edit_item_path(item) %>
		<%= link_to "Delete", item, method: :delete, confirm: "Are you sure?"%>
	</div>
<% end %>

